<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaBairroController</servlet-name>
        <servlet-class>controller.PesquisaBairroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFormaPagamentocontroller</servlet-name>
        <servlet-class>controller.PesquisaFormaPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaLigacaocontroller</servlet-name>
        <servlet-class>controller.PesquisaLigacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaUsuarioController</servlet-name>
        <servlet-class>controller.PesquisaUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaListaProduto</servlet-name>
        <servlet-class>controller.PesquisaListaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaNivelcontroller</servlet-name>
        <servlet-class>controller.PesquisaNivelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPedidoController</servlet-name>
        <servlet-class>controller.PesquisaPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <servlet-class>controller.PesquisaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFormaPagamentoController</servlet-name>
        <servlet-class>controller.PesquisaFormaPagamentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaBairroController</servlet-name>
        <url-pattern>/PesquisaBairroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFormaPagamentocontroller</servlet-name>
        <url-pattern>/PesquisaFormaPagamentocontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaLigacaocontroller</servlet-name>
        <url-pattern>/PesquisaLigacaocontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaUsuarioController</servlet-name>
        <url-pattern>/PesquisaUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaListaProduto</servlet-name>
        <url-pattern>/PesquisaListaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaNivelcontroller</servlet-name>
        <url-pattern>/PesquisaNivelcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPedidoController</servlet-name>
        <url-pattern>/PesquisaPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <url-pattern>/PesquisaProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFormaPagamentoController</servlet-name>
        <url-pattern>/PesquisaFormaPagamentoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
